<div class="login-wrapper">
	<ng-container *ngIf="hasAccount == null">
		<button mat-raised-button color="primary" (click)="showSignup()">Account erstellen</button>
		<button mat-raised-button color="primary" (click)="showLogin()">Einloggen</button>
	</ng-container>

	<ng-container *ngIf="hasAccount != null">
		<h2>
			<ng-container *ngIf="!hasAccount">Account erstellen</ng-container>
			<ng-container *ngIf="hasAccount">Einloggen</ng-container>
		</h2>

		<form [formGroup]="loginForm" (ngSubmit)="login()">

			<mat-form-field>
				<input matInput formControlName="email" placeholder="Email">
				<mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
				<mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
			</mat-form-field>

			<br>

			<mat-form-field>
				<input matInput formControlName="password" type="password" placeholder="Password">
				<mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
				<mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password should be at least 6 characters long</mat-error>
			</mat-form-field>

			<br>

			<ng-container *ngIf="!hasAccount">
				<button mat-raised-button color="primary" (click)="signup()" [disabled]="loginForm.invalid">Registrieren</button>
			</ng-container>

			<ng-container *ngIf="hasAccount">
				<button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Einloggen</button>
			</ng-container>
		</form>
	</ng-container>
</div>
