<div>
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Password">
      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password should be at least 6 characters long</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>

  </form>
</div>
